/*ENSEMBLE*/
body {
background-image: url(img/fond3.png);
background-repeat: repeat;
margin:0;
left:0;
}

html {
font-size: 14px; /* rendre les polices plus petites pour mobile */
}

p {
font-size: 1rem /* cet élément est désormais équivalent à 14px */
}

/*CV*/
.contenu_cv {
	display:inline;
	float: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:2%;
	width:25%;
	z-index:0;
}

.contenu_cv img {
	padding:0%;
	margin-left:70%;
	width:55%;
	margin-right:auto;
}

.contenu_cv p {
	margin-left:60%;
	margin-right:auto;
	width:80%;
	font-family:'Yanone Kaffeesatz', Arial;
	color:grey;
	text-align:left;
	font-size: 1.2rem;
	font-style:bold;
}

.logo_cv {
	display:inline;
	float:left;
	margin-left:-10%;
	margin-top:5%;
	margin-right: auto;
	margin-bottom:2%;
	width:70%;
	z-index:0;
}

/*IMAGES*/
.titreorange{
margin-left:60%;
margin-right:auto;
width:80%;
font-family:'Yanone Kaffeesatz', Arial;
background:#F79C57;
color:white;
text-align:center;
font-size: 1.2rem;
font-style:bold;
}

.titrerose{
margin-left:60%;
margin-right:auto;
width:80%;
font-family:'Yanone Kaffeesatz', Arial;
background:#F27280;
color:white;
text-align:center;
font-size: 1.2rem;
font-style:bold;
}

.titrebleu{
margin-left:60%;
margin-right:auto;
width:80%;
font-family:'Yanone Kaffeesatz', Arial;
background:#63C6B3;
color:white;
text-align:center;
font-size: 1.2rem;
font-style:bold;
}

.projet1 p {
margin-top:20%;
margin-left:55%;
width:90%;
text-align:center;
font-family:'Yanone Kaffeesatz', Verdana;
color:#3E3D40;
position:absolute;
}

.projet2 {
margin-top:17%;
}

.projet3 {
margin-top:22%;
}

/*BANIERE HAUT*/
.baniere img{
position:absolute;
width:100%;
top: 0;
left: 0;
right: 0;
z-index:0;
}

.baniere a{
position:absolute;
width:100%;
top: 0;
left: 0;
right: 0;
z-index:0;
}

#menu {
width:12%;
position:absolute;
margin-left:44%;
margin-top:0;
margin-bottom:3%;
z-index:1;
}

/*BANIERE BAS*/
.footer img{
width:100%;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

/*LOGO*/


.espace_logo{
overflow: hidden;
}

#logo {
width:12%;
position:relative;
margin-left:44%;
margin-top:3%;
margin-bottom:3%;
z-index:1;
}

.espace_logo p {
width:8%;
font-family:Verdana;
margin-top:11%;
margin-left:1%;
color:grey;
position:absolute;
font-weight:bold;
text-align:center;
position:fixed;
}

.espace_logo a {
width:12%;
position:relative;
margin-top:3%;
margin-bottom:3%;
z-index:1;
}

/*#fond {
margin:0;
padding:0;
width:100%;
  position:relative;
  left:0;
}*/

/*TEXTE DE PRESENTATION*/
.presentation {
padding-top:1%;
padding-bottom:1%;
text-align:center;
font-family:'Yanone Kaffeesatz', verdana;
color:grey;
font-size: 1 rem;
}

h1 {
text-align:center;
font-family:verdana;
color:grey;
font-size: 1.2rem;
font-weight:bold;
}

.triangle {
font-family:'Yanone Kaffeesatz', verdana;
font-size:5rem;
}

/*#cv {
margin:0;
padding:0;
width:100%;
  position:relative;
  left:0;
}*/

/*MOBILE*/
@media screen and (max-width:60em) {

/*LOGOS*/
.espace_logo{
overflow: hidden;
}

#logo {
width:25%;
margin-left:36%;
margin-top:10%;
position:relative;
}

.espace_logo p {
font-size:0;
width:0%;
margin-left:auto;
margin-right:auto;
position:absolute;
}

.espace_logo a {
position:relative;
}

/*TEXTE DE PRESENTATION*/
.presentation {
margin-right:auto;
margin-left:auto;
padding-top:1%;
padding-bottom:3%;
text-align:center;
font-family:verdana;
color:grey;
font-size:0.8rem;
width:90%;
}

h1 {
text-align:center;
margin-left:auto;
margin-right:auto;
font-family:Verdana;
color:#1c75a2;
font-size: 1.2rem;
font-weight:bold;
width:90%;
}

.triangle {
padding-top:3%;
margin-left:auto;
}

.triangle img{
width:10%;
}

/*IMAGES*/
.contenu{
    float:none;
	position:relative;
	display:inline-block;
	margin-left: auto;
	margin-right: 0;
	width:100%;
}

.contenu img {
margin-left:auto;
margin-right:0%;
padding-top:4%;
width:100%;
}

.projet1 p {
margin-top:10%;
margin-left:auto;
margin-right:auto;
width:90%;
font-family:'Yanone Kaffeesatz', Verdana;
text-align:center;
color:grey;
position:relative;
font-size:0.8rem;
}

/*BANIERE HAUT*/
.baniere img{
position: fixed;
width:100%;
height:3%;
top: 0;
left: 0;
right: 0;
z-index:1;
}

/*BANIERE BAS*/
.footer img{
width:100%;
height:3%;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}

}
